.enlaces{
    text-align: left;
}

.tituloFormulario {
    text-align: center;
}

input[list="pregunta12"]
{
    height: 28px;
    width: 780px;
}
input[list="pregunta19"]
{
    height: 28px;
    width: 780px;
}

textarea{
    height: 58px;
    width: 600px;
}
*{
    text-align: center;
}

input[type="text"]
{
    height: 28px;
    width: 780px;
}